transformers
accelerate==0.32.1
aiofiles==23.2.1
datasets 
torchaudio 
gdown 
accelerate 
evaluate 
jiwer 
tensorboard 
gradio
dvc
pydub 
ffmpeg-python
soundfile
notebook
numpy
python-box==6.0.2
pyYAML==6.0
tqdm
transformers[torch]
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
Flask-Cors
-e .